.container {
    display: flex;
    justify-content: space-between;

    .button {
        background-color: lightgray;

        img {
            object-fit: contain;
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    .count {
        margin: 0 .5rem;
        width: 2rem;
        text-align: center;
    }
}