:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: stretch;
    overflow-x: hidden;
    overflow-y: auto;
}

.main {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: contain;
    height: calc(100% - 3rem);
}